.filtro {
    display: none !important;
}

/* Contenedor padre de cuadro de a q a f */
.cont-padre-cuadro-A-Q-A-F {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 71, 71, 0.178);
    z-index: 2;
}

/*  */
.A_A_Q_F {
    position: relative;
    margin: 4% 13%;
    width: 70% !important;
    height: 80% !important;
    background-color: #dbdbdb;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    border-radius: 1vw;
}


/* cont-arriba */
.cont-arriba {
    display: flex;
    width: 100%;
    background-color: #1d2a40;
    align-items: center;
    justify-content: space-between;
    color: #cdcdcd;
}

.title_novedad {
    margin: auto;
    font-size: 1.8vw;
    padding: .5vw 0;
}

.cancel_novedad {
    font-size: 1.5vw;
    cursor: pointer;
    margin-right: 1vw;
    border-radius: 50%;
}

/* cont-abajo /////////////////////////////////////*/
.cont-abajo {
    margin-top: .2vw;
    width: 100%;
    height: 78%;
    overflow: auto;

}

.cont-abajo::-webkit-scrollbar {
    width: .5vw;

}

.cont-abajo::-webkit-scrollbar-thumb {
    background-color: #808080;
}

/* todos */
.cont_Tiempo_Tarea_Form {
    display: flex;
    align-items: center;

}

.aceptarTiempoTarea {
    background-color: #fff;
    height: 2vw;
    font-size: 2vw;
    text-align: center;

}

.titulo_Espacio {
    margin-left: 8vw;
    font-size: 1.5vw;
    padding: .3vw;
    padding-left: 0vw;
    display: inline-block;
}

.titulo_Espacio_Demora{
    margin-left: 2vw;
    font-size: 1.5vw;
    padding: .3vw;
    padding-left: 0vw;
    display: inline-block;
}

.opciones_Sector {
    margin-left: 8.2vw;
    font-size: 1vw;
    height: 1.8vw;
    padding-left: .4vw;
    width: 21.8vw !important;

}

.opciones_Sector_2 {
    margin-left: 8.2vw;
    font-size: 1vw;
    height: 1.8vw;
    padding-left: .4vw;
    width: 28vw !important;
}

.contenedor_Novedad {
    width: 100%;
    display: flex;
}

.contenedorBuscadorNovedades_Flecha {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-left: 8.2vw;
    width: 32vw;
    /* border: #000 .1vw solid; */
    /* border-bottom: none; */
}

.buscadorNovedad {
    width: 30vw;
    padding-left: .4vw;
    background-color: transparent;
    font-size: 1vw;
    height: 2.1vw;
}

.opciones_Novedad {
    font-size: 1vw;
    margin-left: 8.2vw;
    max-height: 10vw;
    overflow-y: auto;
    width: 32vw;
    background-color: #fff;
    position: absolute;
    border: .1vw solid #000;

}

.opciones_Novedad>li {
    cursor: pointer;
    padding: .4vw;

}

.opciones_Novedad>li:hover {
    background-color: #6a6a6a;
    color: #e5e5e5;
}

.demora_Novedad {
    margin-left: 2vw;
    width: 22vw;
    text-align: center;
    height: 2vw;
    text-align: center;
}

.comentarioNovedad {
    margin-left: 8.2vw;
    max-width: 52vw;
    max-height: 10vw;
    min-width: 52vw;
    min-height: 5vw;
    padding: .3vw;
    font-size: 1.2vw;
}

.contenedor_BTN {
    position: absolute;
    bottom: 1vw;
    right: 5vw;

    button {
        margin-left: 1vw;
    }
}

.contenedor_BTN>button {
    width: 6vw;
    height: 2vw;
    font-size: 1vw;
    cursor: pointer;
    border: #000 .1vw solid;
    z-index: 1;
}

.btn_imprimir {
    width: 6vw;
    height: 2vw;
    font-size: 1vw;
    cursor: pointer;
    position: absolute;
    bottom: 1vw;
    left: 5vw;
    border: #000 .1vw solid;
    z-index: 1;
}

.contenedor_LEG_Operario {
    display: flex;
}

/* AGREGAR //////////////////////////*/
.contenedor_tab_form1_form2 {
    width: 100%;
    height: 1.8vw;
    font-size: 1.2vw;
    display: flex;

}

.tab_form {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: #808080 .1px solid;
    cursor: pointer;
    background-color: #555555;
    color: #cacaca;
    border-bottom: #808080 .1px solid;
}

.select_tab_form {
    border-bottom: none;
    background-color: #dbdbdb;
    color: #353535;
}

.contTABLA_AGREGAR {
    width: 90%;
    overflow: auto;
    max-height: 14vw;
    margin: .6vw auto;
    border-radius: 1vw 1vw 0 0;
    border: #000 .1vw solid;

}

.contTABLA_AGREGAR::-webkit-scrollbar {
    display: block;
    background-color: transparent;
    width: 0vw;
}

.contTABLA_AGREGAR::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 100vw;
}

#tablaAGREGARForm_1 {
    background-color: transparent;
    width: 100%;
    border-collapse: collapse;

}

.selected-row {
    background-color: #808080 !important;
}

.cont_btn_A_Q_Agregar {
    width: 5vw;
    height: 2.3vw;
    border-radius: 100vw;
    background-color: #353535;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    z-index: 2;

}

.btn_A_Q_Agregar {
    display: flex;
    width: 1.4vw;
    height: 1.4vw;
    font-size: 1vw;
    background-color: #787676;
    border-radius: 50%;
    justify-content: center;
    color: #cdcdcd;
    border: #cdcdcd .1vw solid;
    align-items: center;
    cursor: pointer;
}

/* //texto advertencia */
.cont-advertencia_Form_1 {
    top: 25%;
    left: 25%;
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: 3;
    background-color: rgb(98, 98, 98);
    border-radius: 2vw;
    border: .1vw solid #000;
    overflow: hidden;
}

.contenedor-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5vw;
    width: 100%;
    background-color: #ffffff !important;
    font-size: 2vw;

}

.contenedor-parrafo {
    width: 100%;
    height: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-Advertencia {
    font-size: 2vw;
    padding: 4vw;
}

.contenedor_BTN_Advertencia_form_1 {
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 1vw;
    right: 1vw;
}

.btn_Advertencia_Form_1 {
    background-color: #cdcdcd;
    font-size: 1vw;
    width: 4.5vw;
    text-align: center;
    padding: .5vw;
    cursor: pointer;
}